.body {
  display: flex;
  grid-template-columns: 250px auto 50px;
}
.emailPage {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid whitesmoke;
  margin-top: 2rem;
  margin-left: 2rem;
  border: outset;
  background: aliceblue;
  width: 80%;
}

.emailItem {
  position: relative;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.emailItem.unread::before {
  content: '';
  position: absolute;
  left: -30px; /* Adjust the positioning of the dot */
  top: 40%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blue; /* Adjust the color of the dot */
}
.emailItem.unread .emailText,
.emailItem.unread .email_subject,
.emailItem.unread .emailId {
  font-weight: bolder;
}
.emailItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.emailDetail {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 10px;
  margin-right: -30px;
}

.emailDetail .mailText {
  font-size: 14px;
  margin-left: 15px;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.emailId{
  font-size: 19px;
  margin-right: 15px;
  width: 19rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.emailDetail {
  align-items: center;
}

.email_subject {
  margin-right: 5px;
  width: 25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 19px;
}
.deleteIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  visibility: hidden; /* Hide delete icon by default */
}

.emailItem:hover .deleteIcon {
  visibility: visible; /* Show delete icon when hovering over email item */
}
.email_timestamp{
  margin-left: 6rem;
  margin-right: 5rem;
}
/**-----------------------MailDetail-------------------------------------------*/

.maildetail{
  display: flex;
  flex-direction: column;
  flex: 90%;
  margin-left: 50px;
  border-bottom: 2px solid whitesmoke;
  padding: 0 10px;
  margin-top: 2rem;
}
.maildetail_header{
  display: flex;
  margin: 30px 30px;
  padding: 0 10px;
  border-bottom: 2px solid whitesmoke;
}
.maildetail_middleHeader{
  margin: 10px 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
}
.maildetail_options{
  cursor: pointer;
  border-bottom: 2px solid rgb(243, 238, 238);
}
.maildetail_body{
  margin: 10px 40px;
}
.delete_icon{
  margin-left: 50px;
}

.emailPage_left,
.emailPage_mid,
.emailPage_right {
  /* Remove flex property from these elements */
  flex: none;
  /* Optionally, you can add padding to provide spacing between elements */
  padding: 5px;
}
.mailBody {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.maildetail_body p {
  margin: 10px 0;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .body {
    grid-template-columns: 200px auto 50px;
    margin-left: 0;
  }

  .email_timestamp {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .maildetail {
    margin-left: 20px;
  }
  
}

@media (max-width: 768px) {
  .body {
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto;
    margin-left: 0px;
    display: block;
  }

  .email_timestamp {
    margin-left: 2px;
    margin-right: 1.5rem;
  }

  .maildetail {
    margin-left: 5px;
  }
}

@media (max-width: 550px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .emailPage {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-bottom: 2px solid whitesmoke;
    margin-top: 2rem;
    margin-left: 1rem;
    border: outset;
    background: aliceblue;
  }

  .emailDetail {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: -30px;
    align-items: baseline;
  }

  .email_timestamp {
    margin-left: 0;
    margin-right: 1rem;
  }

  .maildetail {
    margin-left: 5px;
    margin-top: 1rem;
  }
  .email_subject {
    width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 19px;
  }

  .maildetail_header,
  .maildetail_middleHeader,
  .maildetail_body {
    margin: 10px 20px;
  }
}
