.body{
  display: grid;
  grid-template-columns: 250px auto 50px;
}
.emailPage {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid whitesmoke;
  padding: 10px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.emailItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.emailItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.emailContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

.emailContent .mailtext {
  font-size: 14px;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.emailId{
  font-size: 19px;
  font: bolder;
  margin-right: 70px;
}
.emailDetail {
  display: flex;
  align-items: center;
}

.email_subject {
  margin-right: 10px;
  font-size: 19px;
  font: bolder;
}
.deleteIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  visibility: hidden; /* Hide delete icon by default */
}

.emailItem:hover .deleteIcon {
  visibility: visible; /* Show delete icon when hovering over email item */
}
/**-----------------------MailDetail-------------------------------------------*/

.maildetail{
  display: flex;
  flex-direction: column;
  flex: 90%;
  margin-left: 200px;
  border-bottom: 2px solid whitesmoke;
  padding: 0 10px;
  height: 40px;
  margin-top: 2rem;
}
.maildetail_header{
  display: flex;
  margin: 10px 0px;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 2px solid whitesmoke;
}
.maildetail_middleHeader{
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.maildetail_options{
  cursor: pointer;
}

.emailPage_left,
.emailPage_mid,
.emailPage_right {
  /* Remove flex property from these elements */
  flex: none;
  /* Optionally, you can add padding to provide spacing between elements */
  padding: 5px;
}